.panel.panel-default
  .panel-heading Book Movie Tickets for:
  .panel-body
    .list-group
      - @films.each do |film|
        = link_to film.name, "/#{film.slug}", class: "list-group-item", style: "text-decoration: none;"