%nav.navbar.navbar-light.bg-lignt
  = link_to 'Home', root_path, class: 'navbar-brand'
  %button.navbar-toggler.ml-auto{"data-target" => "#collapsingNavbar2", "data-toggle" => "collapse", :type => "button"}
    %span.navbar-toggler-icon.my-toggler
  #collapsingNavbar2.navbar-collapse.collapse
    %ul.navbar-nav.mx-auto
      = render 'layouts/nav_links_for_auth'

